<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Social Section</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- forms CSS
    ============================================ -->
    <link rel="stylesheet" href="css/form/all-type-forms.css">

    <!-- modernizr JS
		============================================ -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript">
        // *********************************
        // ** Onload:
        // **   Init the page(get the checkbox status from server and set the on page)
        // *********************************
        function onloadF() {
            // Get the checkbox information from hidden item(Set by server)
            let strCheck = document.getElementById("checkedId").value;
            if (strCheck != null && strCheck.trim() != '') {
                let arr = strCheck.split(',');
                for (let i in arr) {
                    if (arr[i].trim() != '') {
                        // Set the checkbox
                        let checkbox = document.getElementsByName("checkBox");
                        for ( let i = 0; i < checkbox.length; i++) {
                            if (arr[i].trim() == document.getElementById(arr[i].trim()).value) {
                                document.getElementById(arr[i].trim()).checked = true;
                            }
                        }
                    }
                }
            }
        }
        // *********************************
        // ** Click Search:
        // **   When click the search button, get the checkbox data and submit the form.
        // *********************************
        function clickSearch() {
            let bb = "";
            let temp = "";
            let checkbox = document.getElementsByName("checkBox");
            for ( let i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked) {
                    temp = checkbox[i].value;
                    bb = bb + "," +temp;
                }
            }
            // Set the checkbox information to hidden items to transfer to server
            document.getElementById("checkedId").value = bb.substring(1, bb.length);
            document.getElementById('SearchForm').submit();
        }
    </script>
</head>

<body onload="onloadF()">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/login"><img class="main-logo" src="img/logo/logo.png" alt=""/></a>
            <strong><img src="img/logo/logosn.png" alt=""/></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="/pSection" aria-expanded="false"><i
                                class="fa fa-bookmark icon-wrap sub-icon-mg"></i>
                            <span class="mini-click-non">PERSONAL LIBRARY</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Personal Section" href="/pSection"><i class="fa fa-inbox sub-icon-mg"
                                                                                   aria-hidden="true"></i> <span
                                    class="mini-sub-pro">Personal Section</span></a></li>
                            <li><a title="Social Section" href="/sSection"><i
                                    class="fa fa-television sub-icon-mg" aria-hidden="true"></i> <span
                                    class="mini-sub-pro">Social Section</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="/mBook">
                            <i class="fa big-icon fa-files-o icon-wrap"></i>
                            <span class="mini-click-non">MANAGEMENT</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="Add Book" href="/editBook"><i class="fa fa-bullseye sub-icon-mg"
                                                                        aria-hidden="true"></i>
                                <span class="mini-sub-pro">Add Book</span></a></li>
                            <li><a title="Books Management" href="/mBook"><i class="fa fa-circle-o sub-icon-mg"
                                                                            aria-hidden="true"></i>
                                <span class="mini-sub-pro">Books Management</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>

<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="/pSection"><img class="main-logo" src="img/logo/logo.png" alt=""/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/pSection" class="nav-link">Personal Section</a>
                                                </li>
                                            </ul>
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/sSection" class="nav-link">Social Section</a>
                                                </li>
                                            </ul>
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/editBook" class="nav-link">Add Book</a>
                                                </li>
                                            </ul>
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/mBook" class="nav-link">Management</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="pull-right">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav">
                                            <li class="nav-item"><a href="#" class="nav-link"><%= user %></a>
                                            </li>
                                        </ul>
                                        <ul class="nav navbar-nav mai-top-nav">
                                            <li class="nav-item"><a href="/login" class="nav-link">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Personal Library <span
                                            class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="/pSection">Personal Section</a>
                                            </li>
                                            <li><a href="/sSection">Social Section</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#others" href="#">Management <span
                                            class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="others" class="collapse dropdown-header-top">
                                            <li><a href="/editBook">Add Book</a></li>
                                            <li><a href="/mBook">Book Management</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
    </div>

    <form action="/sSection" id="SearchForm" class="form-horizontal" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="review-tab-pro-inner">
                    <h3>Choose topics:</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <% for (let i in topic) { %>
                            <label class="container1"><%= topic[i] %>
                                <input  id="<%= topic[i] %>" name="checkBox" type="checkbox" value="<%= topic[i] %>"></input>
                                <span class="checkmark"></span>
                            </label>
                            <% } %>
                        </div>
                    </div>
                    <input type="hidden" name="checkedId" id="checkedId" value="<%= checkedId %>">
                    <input type="hidden" name="checkAll" id="checkAll" value="<%= checkAll %>">
                    <div class="row">
                        <div class="review-content-section">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="text-left mg-b-pro-edt custom-pro-edt-ds">
                                    <input type="submit" class="btn btn-primary waves-effect waves-light m-r-10" onclick="clickSearch();" value="Search"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="color-line"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h3>Social Book List:</h3>
                        <table>
                            <tr>
                                <th>Topic</th>
                                <th>Title</th>
                                <th>ISBN</th>
                                <th>Author</th>
                                <th>Year</th>
                                <th>Abstract</th>
                                <th>Heat</th>
                                <th>MetaData</th>
                            </tr>

                            <% for (let i in data) { %>
                            <tr>
                                <td><%= data[i].topic%></td>
                                <td><%= data[i].book.title%></td>
                                <td><%= data[i].book.ISBN%></td>
                                <td><%= data[i].book.author%></td>
                                <td><%= data[i].book.year%></td>
                                <td><%= data[i].book.abstract%></td>
                                <td><%= data[i].heat%></td>
                                <td><%= data[i].book.metadata%></td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &copy; 2020 G10 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery
    ============================================ -->
<script src="js/vendor/jquery-1.11.3.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="js/metisMenu/metisMenu.min.js"></script>
<script src="js/metisMenu/metisMenu-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<script src="js/sparkline/jquery.charts-sparkline.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="js/calendar/moment.min.js"></script>
<script src="js/calendar/fullcalendar.min.js"></script>
<script src="js/calendar/fullcalendar-active.js"></script>

<!-- icheck JS
    ============================================ -->
<script src="js/icheck/icheck.min.js"></script>
<script src="js/icheck/icheck-active.js"></script>

<!-- plugins JS
    ============================================ -->
<script src="js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="js/main.js"></script>
</body>

</html>